<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="/images/properties.png"/>

    <title>Register | Leaf</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script defer src="/js/jquery.min.js"></script>
    <script defer src="/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/authentication.css">

    <!-- JS -->
    <script defer src="/js/authentication.js"></script>

</head>
<body>
    <section class="container d-flex align-items-center flex-column" style="height: 100vh;">
    
            <!--Register-->
            <div class="col col-sm-6 mx-auto mb-auto mt-5 pb-5">

                <h1 class="text-center mb-5 mt-3 d-none d-sm-block">Choose a password...</h1>
                <h3 class="text-center mb-5 mt-3 d-block d-sm-none">Choose a password...</h3>
    
                <form method="post" action="/authentication/register">
                    <!--Name-->
                    <input class="d-none" type="text" name="name" value="<%=name%>" readonly>
                    
                    <!--Surname-->
                    <input class="d-none" type="text" name="surname" value="<%=surname%>" readonly>
                    
                    <!--Username-->
                    <input class="d-none" type="text" name="username" value="<%=username%>" readonly>

                    <!--Email-->
                    <input class="d-none" type="email" name="email" value="<%=email%>" readonly>

                    <!--DB Code-->
                    <input class="d-none" type="text" name="code" value="<%=code%>" readonly>
    
                    <!--Password-->
                    <div class="form-group" id="password-form">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="invalid-feedback">
                        </div>
                    </div>
    
                    <!--Repeat Password-->
                    <div class="form-group" id="repeat-password-form">
                        <label for="rep-password">Repeat Passwords</label>
                        <input class="form-control" type="password" id="repeat-password" required>
                        <div class="invalid-feedback">
                        </div>
                    </div>

                    <div class="py-2">
                        <!-- 8 chars -->
                        <span class="" id="length">
                            <span class="d-none" id="passed">
                                <svg class="bi bi-check-circle-fill mb-1 mr-2 ml-1" width="1em" height="1em" viewBox="0 0 16 16" fill="green" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                  </svg>
                            </span>
                            <span class="d-inline" id="not-passed">
                                <svg class="bi bi-x-circle-fill mb-1 mr-2 ml-1" width="1em" height="1em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                                  </svg>
                            </span>
                            8 characters minimum
                            <br>
                        </span>
    
                        <!-- a letter a number -->
                        <span class="" id="strength">
                            <span class="d-none" id="passed">
                                <svg class="bi bi-check-circle-fill mb-1 mr-2 ml-1" width="1em" height="1em" viewBox="0 0 16 16" fill="green" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                  </svg>
                            </span>
                            <span class="d-inline" id="not-passed">
                                <svg class="bi bi-x-circle-fill mb-1 mr-2 ml-1" width="1em" height="1em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                                  </svg>
                            </span>
                            Includes characters and numbers
                            <br>
                        </span>
    
                        <!--match-->
                        <span class="" id="compatibility">
                            <span class="d-none" id="passed">
                                <svg class="bi bi-check-circle-fill mb-1 mr-2 ml-1" width="1em" height="1em" viewBox="0 0 16 16" fill="green" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                  </svg>
                            </span>
                            <span class="d-inline" id="not-passed">
                                <svg class="bi bi-x-circle-fill mb-1 mr-2 ml-1" width="1em" height="1em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                                  </svg>
                            </span>
                            Paswords match
                            <br>
                        </span>
                    </div>
    
                    <!--Submit-->
                    <input class="btn btn-primary mt-3" type="submit" id="submit" disabled>
    
                </form>
    
            </div><!--Register-->


    </section>

</body>
</html>